<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.epiwo.front" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launch_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ingeniero"
        android:usesCleartextTraffic="true" >
        <activity
            android:name=".AddMeetingActivity"
            android:exported="true" />
        <activity
            android:name=".MainPage"
            android:label="@string/title_activity_meetings"
            android:theme="@style/Theme.Ingeniero.NoActionBar" />
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register" />
    </application>

</manifest>